* {
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  color: brown;
  background-color: aliceblue;
}
ul,
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 2px 20px;
  background-color: aliceblue;
}
.right-nav {
  display: flex;
  gap: 20px;
}
